<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorage5;AccountKey=jdSnpwqaef7LBCAxkPz0/Bd3g8OrRmbFjVlXgDBkMDwSU1zdueobtLKgZ+STAYgNdswrUET3mEezsu2o6o81bg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>